---
import { portfolioData } from "../../data/portfolio";
import ChevronDown from "lucide-static/icons/chevron-down.svg";
import ImageGallery from "../ui/imagegallery/ImageGallery.astro";
const ICON_COLOR = "#41BDF5"; // tvoja farba
const ICON_STROKE = 3; // „bold“ efekt

interface Props {
  itemsCount: number;
  includeDetails: boolean;
}
const props = Astro.props as Props;
---

{
  portfolioData.slice(0, props.itemsCount).map((p, index) => {
    const Icon = p.icon;

    return (
      <article class={`flex flex-col card-surface p-6 relative  `}>
        <details class="group" {...{ open: false }}>
          <summary
            class={`cursor-pointer p-6 relative ${props.includeDetails ? " flex flex-col" : "flex flex-col items-center text-center"}`}
          >
            <div
              class={`w-full flex pb-2 text-[var(--accent)] [&>svg]:w-6 [&>svg]:h-6  ${props.includeDetails ? "justify-end" : "justify-center"}`}
            >
              <Icon
                style={`stroke:${ICON_COLOR}; stroke-width:${ICON_STROKE}`}
              />
            </div>
            <h3 class="text-xl font-semibold text-foreground m-0">{p.title}</h3>
            <p class="text-sm text-[color:var(--color-text-muted)] m-0">
              {p.techStack}
            </p>
            <ChevronDown class="w-5 h-5 transition-transform group-open:rotate-180  stroke-[#41BDF5] stroke-[5]" />
          </summary>

          <p class="mt-3  text-justify  text-[color:var(--color-text-secondary)]">
            {p.description}
          </p>

          {props.includeDetails && (
            <div>
              <p class="mt-3 text-[color:var(--color-text-muted)]">
                {"Príklady použitia:"}
              </p>
              <p class="mt-3 text-[color:var(--color-text-primary)]">
                <ul class="list-disc ml-5 text-[color:var(--color-text-secondary)]">
                  {p.notes.map((note) => (
                    <li class="mt-1 text-[color:var(--color-primary)] list-disc ml-5">
                      {note}
                    </li>
                  ))}
                </ul>
              </p>
            </div>
          )}

          <div>
            <ImageGallery images={p.images} />
          </div>
        </details>
      </article>
    );
  })
}
